{% extends "header.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-8">
			<div style="padding-left: 48px;">
				<div class="row">
					<h1 class="display-2" > {{ user.first_name }} {{ user.last_name }}</h1>
				</div>
				<div class="row">
					<p class="lead"> @{{ user.username }} </p>
				</div>
				{% if this_user %}
					<h1></h1>
					<div class="row">
						<a class="col-md-6" href="/logout">
							<button type="button" class="btn btn-danger btn-block">Logout</button>
						</a>
						<a class="col-md-6" href="/accounts/profile/edit/">
							<button type="button" class="btn btn-primary btn-block">Edit Profile</button>
						</a>
					</div>
				{% endif %}
			</div>

			<p class="text-left">
				{{ user.profile.bio }}
			</p>
		</div>

		<div class="col-md-2">
			<h1 class="text-center">Organizations</h1>
			<table class="table table-hover">
				<thread>
					<tr>
						<th>Name</th>
					</tr>
				</thread>
				<tbody>
				{% for org in request.user.profile.orgs %}
					<tr>
						<td><a href="/orgs/{{ org.id }}">{{ org.name }}</a>
						</th>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
