<div class="w-100" style="text-align: center; vertical-align: center;">
	<span>
		{% if offset > 0 %}
			<a class="btn btn-primary btn-sm" href="/logs/{{ log.id }}/?sort={{ sort }}&offset=0">
				<i class="fas fa-angle-double-left"></i>
			</a>
		{% else %}
			<a class="btn btn-primary btn-sm disabled">
				<i class="fas fa-angle-double-left"></i>
			</a>
		{% endif %}
	</span>
	<span>
		{% if offset > 0 %}
			<a class="btn btn-primary btn-sm" href="/logs/{{ log.id }}/?sort={{ sort }}&offset={{ offset|add:"-100" }}">
				<i class="fas fa-angle-left"></i>
			</a>
		{% else %}
			<a class="btn btn-primary btn-sm disabled">
				<i class="fas fa-angle-left"></i>
			</a>
		{% endif %}
	</span>
	<span>
		{{ offset }}-{{ offset|add:entries.count }}
	</span>
	<span>
		<a class="btn btn-primary btn-sm" href="/logs/{{ log.id }}/?sort={{ sort }}&offset={{ offset|add:"100" }}">
			<i class="fas fa-angle-right"></i>
		</a>
	</span>
	<span>
		<a class="btn btn-primary btn-sm" href="/logs/{{ log.id }}/?sort={{ sort }}&offset=-1">
			<i class="fas fa-angle-double-right"></i>
		</a>
	</span>
</div>