<div class="w-100" style="text-align: center; vertical-align: center;">
	<span>
		{% if offset > 0 %}
			<a class="btn btn-primary btn-sm" href="?sort={{ sort }}&offset=0&tagfilter={{ tagfilter }}&resfilter={{ resfilter }}&loggerfilter={{ loggerfilter }}">
				<i class="fas fa-angle-double-left"></i>
			</a>
		{% else %}
			<a class="btn btn-primary btn-sm disabled">
				<i class="fas fa-angle-double-left"></i>
			</a>
		{% endif %}
	</span>
	<span>
		{% if offset > 0 %}
			<a class="btn btn-primary btn-sm" href="/logs/{{ log.id }}/?sort={{ sort }}&offset={{ offset|add:"-100" }}&tagfilter={{ tagfilter }}&resfilter={{ resfilter }}&loggerfilter={{ loggerfilter }}">
				<i class="fas fa-angle-left"></i>
			</a>
		{% else %}
			<a class="btn btn-primary btn-sm disabled">
				<i class="fas fa-angle-left"></i>
			</a>
		{% endif %}
	</span>
	<span>
		{{ offset|add:"1" }}-{{ offset|add:entries.count }}
	</span>
	<span>
		{% if entries.count < 100 %}
			<a class="btn btn-primary btn-sm disabled">
				<i class="fas fa-angle-right"></i>
			</a>
		{% else %}
			<a class="btn btn-primary btn-sm" href="/logs/{{ log.id }}/?sort={{ sort }}&offset={{ offset|add:"100" }}&tagfilter={{ tagfilter }}&resfilter={{ resfilter }}&loggerfilter={{ loggerfilter }}">
				<i class="fas fa-angle-right"></i>
			</a>
		{% endif %}

	</span>
	<span>
		{% if entries.count < 100 %}
			<a class="btn btn-primary btn-sm disabled">
				<i class="fas fa-angle-double-right"></i>
			</a>
		{% else %}
			<a class="btn btn-primary btn-sm" href="/logs/{{ log.id }}/?sort={{ sort }}&offset=-1&tagfilter={{ tagfilter }}&resfilter={{ resfilter }}&loggerfilter={{ loggerfilter }}">
				<i class="fas fa-angle-double-right"></i>
			</a>
		{% endif %}
	</span>
</div>