{% if tagfilter or loggerfilter or resfilter %}
	{% load name_from_id %}
	<p class="small">
		<i class="fas fa-filter"></i>
		{% if tagfilter %}
			<button class="btn btn-sm mb-1">
				Tags: {{ tagfilter|tag_name_from_id }}
				<a href="?sort={{ sort }}&offset={{ offset }}&tagfilter=&resfilter={{ resfilter }}&loggerfilter={{ loggerfilter }}">
					<i class="fas fa-times-circle" style="color: red;"></i>
				</a>
			</button>
		{% endif %}
		{% if resfilter %}
			<button class="btn btn-sm mb-1">
				Residents: {{ resfilter|resident_name_from_id }}
				<a href="?sort={{ sort }}&offset={{ offset }}&tagfilter={{ tagfilter }}&resfilter=&loggerfilter={{ loggerfilter }}">
					<i class="fas fa-times-circle" style="color: red;"></i>
				</a>
			</button>
		{% endif %}
		{% if loggerfilter %}
			<button class="btn btn-sm mb-1">
				Loggers: {{ loggerfilter|logger_name_from_id }}
				<a href="?sort={{ sort }}&offset={{ offset }}&tagfilter={{ tagfilter }}&resfilter={{ resfilter }}&loggerfilter=">
					<i class="fas fa-times-circle" style="color: red;"></i>
				</a>
			</button>
		{% endif %}

		<a class="btn btn-danger btn-sm mb-1" href="?sort={{ sort }}&offset={{ offset }}&tagfilter=&resfilter=&loggerfilter=">
			Clear all
		</a>
	</p>
{% else %}
	<p class="small">
		<i class="fas fa-filter"></i>
		<button class="btn btn-sm mb-1">
			No filters
		</button>
	</p>
{% endif %}