{% extends 'header.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" style="text-align: left;">
			<h1 class="display-1">{{ log.name }} Log</h1>
			<div align="right">
				<a class="btn-link" href="/logs/{{ log.id }}/new_entry/" style="text-decoration:none">
					<button class="btn btn-primary btn-lg">
						<i class="fas fa-edit"></i>
					</button>
				</a>
				<a href="/orgs/{{ log.org.id }}/" style="text-decoration:none">
					<button class="btn btn-default btn-lg">
						<i class="far fa-building"></i>
					</button>
				</a>
			</div>
			<div>
				{# This if statement checks if there are no entries to show a friendly message #}
				{% if entries.all|length == 0 %}
					<p class="lead" style="margin-top: 20vh;">No Entries yet... Hit the button above to write the first one!</p>
				{% endif %}
				{# This for loop renders an entry card for each entry in the log #}
				{% for entry in entries %}
					<div class="jumbotron" style="text-align: left; width: 480px; padding-bottom: 32px; padding-top: 32px">
						<div class="row">
							<p class="h1">{{ entry.logger }}</p>
						</div>
						<div class="row">
							<p class="lead">{{ entry.message }}</p>
						</div>
						<div class="row">
							<i class="fas fa-angle-down"></i>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}