{% extends 'header.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1 class="display-1">
				New Entry
			</h1>
			<a href="/logs/{{ log.id }}">
				<p class="lead">
					in the {{ log.name }} log.
				</p>
			</a>
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<p align="left">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">{{ field.label }}</label>
							<div class="col-sm-9"> {{ field }} </div>
						</div>
						{% if field.help_text %}
							<small style="display: none">{{ field.help_text }}</small>
						{% endif %}
						{% for error in field.errors %}
							<p style="color: red">{{ error }}</p>
						{% endfor %}
					</p>
				{% endfor %}
				<button class="btn btn-primary btn-lg" type="submit">Save</button>
			</form>
		</div>
	</div>
{% endblock %}