{% extends 'header.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4 col-sm-12" style="text-align: left;">
			{% if logs.count == 0 %}
				<h1 class="display-1" style="margin-bottom: 24px;">No logs.</h1>
				<p class="lead">Create one through the
				<a href="/admin/patientlog/log/">admin dialog.</a> </p>
			{% else %}
				<h1 class="display-1" style="margin-bottom: 24px;">Logs</h1>
			{% endif %}
			{% for log in logs %}
				{% include 'orgs/log_fragment.html' %}
			{% endfor %}
		</div>
	</div>
{% endblock %}