{% extends 'header.html' %}
{% block content %}
	<div class="row">
		{# Title description and map #}
		<div class="col-md-1"></div>
		<div class="col-md-8" align="left">
			<h1 class="display-1">{{ org.name }}</h1>
			<p class="lead">
				{{ org.description }}
			</p>
			<div class="card mb-4">
				<div class="card-header" role="tab" id="headingOne">
					<h5>
						<a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true"
						   aria-controls="collapseOne">
							{{ org.location }}
						</a>
					</h5>
				</div>

				<div id="collapseOne" class="collapse toggle" role="tabpanel" aria-labelledby="headingOne"
				     data-parent="#accordion">

					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item"
						        src="https://www.google.com/maps/embed/v1/search?q={{ org.location }}&key=AIzaSyB-YQD-s4ery8KQRnzX7FhZsBC4SeFRcjA"
						        allowfullscreen></iframe>
					</div>

					<p class="text-danger mb-0">Map requires a valid address to work</p>
				</div>
			</div>
			{# Member table #}
			<h3 class="text-center display-4">Members</h3>
			<div class="table-responsive">
				<table class="table table-hover">
					<tbody>
						{% for u in org.unapproved.all %}
							<tr>
								<td>
									{{ u.get_full_name }} ({{ u.email|default:"N/A" }})
								</td>
								<td class="text-right">
									{% if request.user == org.owner %}
										<a href="approve/{{ u.id }}/" style="text-decoration: none;">
											<button class="btn btn-success btn-sm">
												Approve
											</button>
										</a>
										<a href="remove_unapproved/{{ u.id }}/" style="text-decoration: none;">
											<button class="btn btn-danger btn-sm">
												<i class="fas fa-trash-alt"></i>
											</button>
										</a>
									{% else %}
										<button class="btn btn-danger btn-sm">
											Unapproved
										</button>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						{% for member in org.members.all %}
							<tr>
								<td>
									{{ member.get_full_name }} ({{ member.email|default:"N/A" }})
								</td>
								<td class="text-right">
									{% if member == org.owner %}
										<button class="btn btn-warning btn-sm">
											Owner
										</button>
									{% endif %}
									{% if request.user == member %}
										<a href="/accounts/profile/" style="text-decoration: none;">
											<button class="btn btn-primary btn-sm">
												You
											</button>
										</a>
									{% endif %}
									{% if request.user == org.owner and not request.user == member %}
										<a href="unapprove/{{ member.id }}/" style="text-decoration: none;">
											<button class="btn btn-danger btn-sm">
												Unapprove
											</button>
										</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{# Right side toolbar (ie Tags manager, Residents manager, Join link generator, Logs page) #}
		<div class="col-md-3" align="left">
			{% if token %}
				<a data-toggle="modal" data-target="#joinLinkModal">
					<button class="btn btn-primary btn-lg btn-block"
					        style="text-align: left; margin-bottom: 24px; padding-top: 24px; padding-bottom: 24px;">
						Generate Join Link
						<i class="fas fa-link fa-2x float-right"></i>
					</button>
				</a>
				<a href="/orgs/{{ org.id }}/tags/" style="text-decoration:none;">
					<button class="btn btn-primary btn-lg btn-block"
					        style="text-align: left; margin-bottom: 24px; padding-top: 24px; padding-bottom: 24px;">
						Tags
						<i class="fas fa-tags fa-2x float-right"></i>
					</button>
				</a>
			{% endif %}
			<a href="/orgs/{{ org.id }}/residents" style="text-decoration:none;">
				<button class="btn btn-primary btn-lg btn-block"
				        style="text-align: left; margin-bottom: 24px; padding-top: 24px; padding-bottom: 24px;">
					Residents
					<i class="fas fa-address-card fa-2x float-right"></i>
				</button>
			</a>
			<a href="/orgs/{{ org.id }}/logs/" style="text-decoration:none;">
				<button class="btn btn-primary btn-lg btn-block"
				        style="text-align: left; margin-bottom: 24px; padding-top: 24px; padding-bottom: 24px;">
					Logs
					<i class="fas fa-clipboard fa-2x float-right"></i>
				</button>
			</a>
		</div>
	</div>
	{% if token %}
		{# Modal to show link generation #}
		<div id="joinLinkModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				{# Modal content #}
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">One Time Join Link</h4>
						<button type="button" class="close" data-dismiss="modal">
							<i class="fas fa-times"></i>
						</button>
					</div>
					<div class="modal-body">
						<p class="lead">http://{{ domain }}{% url 'orgs:join' uidb64=uid token=token %}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>
	{% endif %}
{% endblock %}