{% extends 'header.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" style="text-align: left;">
			<h1 class="display-1" style="margin-bottom: 24px;">Organizations</h1>

			<div class="row" style="margin-bottom: 24px;">
				<div class="col-md-3">
					<a href="/orgs/create/" style="text-decoration: none;">
						<button class="btn btn-block btn-primary" disabled>Create</button>
					</a>
				</div>
				<div class="col-md-3">
					<a href="/orgs/join/" style="text-decoration: none;">
						<button class="btn btn-block btn-primary" disabled>Join</button>
					</a>
				</div>
			</div>

			{% for org in orgs %}
				{% include 'orgs/org_fragment.html' %}
			{% endfor %}

		</div>

	</div>

{% endblock %}