{% extends 'header.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" style="text-align: left;">
			<h1 class="display-1" style="margin-bottom: 24px;">Organizations</h1>

			<div class="row" style="margin-bottom: 24px;">
				<div class="col-md-3">
					<a href="/orgs/create/" style="text-decoration: none;">
						<button class="btn btn-block btn-primary" disabled>Create</button>
					</a>
				</div>
				<div class="col-md-3">
					<a style="text-decoration: none;">
						<button class="btn btn-block btn-primary" data-toggle="modal" data-target="#joinOrgModal">Join</button>
					</a>
				</div>
			</div>
			{% for org in orgs %}
				{% include 'orgs/org_fragment.html' %}
			{% endfor %}
		</div>
	</div>
	<div id="joinOrgModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">One Time Join Link</h4>
					<button type="button" class="close" data-dismiss="modal">
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" id="joinPasteBox">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="joinSubmit">Join</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<script>
		$('#joinSubmit').click(
		    function{
		        location.href = $('#joinPasteBox').value;
		    }
		);

	</script>
{% endblock %}