<div class="jumbotron" style="text-align: left; width: 480px; padding-left: 16px; padding-right: 48px;">
	<div class="row" style="padding-left: 16px;">
		<div class="col-10">
			<p class="h1">{{ resident.name }}</p>
		</div>
		<div class="col-2">
			<div class="pl-4 pt-1"
			     style="border-radius: 50%; background-color: #FFFFFF; height: 75px; width: 75px; margin-right: 10px;">
				{% if detail %}
					<a href="../{{ resident.id }}" style="text-decoration: none;">
						<i class="fas fa-angle-right fa-4x"></i>
					</a>
				{% else %}
					<a href="{{ resident.id }}" style="text-decoration: none;">
						<i class="fas fa-angle-right fa-4x"></i>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>